#posScene{
    position: absolute;
    bottom: 0%;
    left: 15%;
    right: -13.91%;
    overflow: hidden;
}

#scene_choices {
    z-index: 30;
    position: relative;
    bottom: -4px;
    right: -4px;
    width: 85%;
    border: solid rgb(243, 78, 78) 4px;
    background-color: rgba(255,255,255,.851);
    display: block;
    padding: 15px 0 10px;
    overflow: hidden;
}

#avatar {
    z-index: 40;
    bottom: -60px;
    height: 250px;
    width: 250px;
    box-shadow: 0 -3px 2px 1px rgb(243, 78, 78);
    opacity: 1;
    display: block;
    margin: auto;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    position: relative;
}

#viper_avatar{
    width: 70%;
    position: relative;
    bottom: -6%;
    left: 17%;
}

#posAv{
    position: absolute;
    bottom: 0%;
    left: 25px;
    overflow: hidden;
}

#posCharacter{
    position: absolute;
    bottom: 0%;
    left: 30%;
    top: 10%;
    overflow: hidden;
}

#sage{
    width: 85%;
    position: relative;
    top: 15%;
}

.allBtn{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0;
    padding: 0;
    list-style: upper-alpha inside;
}

.btn{
    color :rgb(243, 78, 78);
    font-weight: bold;
    font-weight: bold;
    cursor: pointer;
    padding: 3px 10px 3px 100px;
    line-height: 24px;
    text-align: left;
    list-style: upper-alpha inside;
}

.btn > span{
    color : black;
    font-weight: normal;
}

.btn:hover{
    background: linear-gradient(to bottom, rgb(219, 219, 219), rgb(243, 78, 78));
}


#bubble{
    top: 15.0862%;
    left: 18.75%;
    max-width: 21.4062%;
    background-color: rgba(255,255,255,.851);
    border-radius: 25px;
    border: 3px solid white;
    box-sizing: content-box;
    font-weight: normal;
    line-height: 30px;
    padding: 13px 16px;
    position: absolute;
    text-align: left;
    z-index: 20;
    overflow-wrap: break-word;
}

.allBubble{
    display: none;
}

.allBtn{
    display: none;
}

#Abubble{
    display: block;
}

#Achoice{
    display: inline;
}