#enemy img{
    position: absolute;
    width:195.6px;
    height:300px;
}

#A_link #enemy img{
    left: 690px;
    top: 280px;
}

#A_lobby #enemy img{
    left: 790px;
    top: 300px;
}

#A_long #enemy img{
    left: 790px;
    top: 250px;
}

#A_site #enemy img{
    left: 880px;
    top: 140px;
}

#B_link #enemy img{
    left: 1180px;
    top: 400px;
}

#B_lobby #enemy img{
    left: 580px;
    top: 260px;
}

#B_site #enemy img{
    left: 550px;
    top: 150px;
}

#bottom_mid #enemy img{
    left: 670px;
    top: 240px;
}

#catwalk #enemy img{
    left: 460px;
    top: 370px;
}

#garden #enemy img{
    left: 420px;
    top: 350px;
}

#heaven #enemy img{
    left: 250px;
    top: 360px;
}

#market #enemy img{
    left: 180px;
    top: 340px;
}

#mid #enemy img{
    left: 1220px;
    top: 260px;
}

#top_mid #enemy img{
    left: 480px;
    top: 340px;
}

#tunnels #enemy img{
    left: 230px;
    top: 300px;
}