.choices img{
    position: absolute;
    width:42px;
    height:42px;
    border-radius: 30px; 
}

.icons{
    background-image: url("../images/poulet.png")!important; 
    position: absolute;
    width:42px;
    height:42px;
    border-radius: 30px; 
}

.choices img:hover{
    /*box-shadow: 0px 0px 4px 4px rgba(180, 180, 180, 0.8);*/
    transform : scale(1.3);
}

.choices a+p{
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 10px; 
    visibility:hidden;
}

.choices a:hover + p{
    visibility:visible;
}


/* spawn */


#spawn #right_side a.icons{
    left: 1070px;
    top: 400px;
}

#spawn #left_side img{
    left: 210px;
    top: 450px;
}

/* A_firstentry */

#A_firstentry #top_mid img{
    left: 540px;
    top: 400px;
}

#A_firstentry #A_lobby img{
    left: 890px;
    top: 400px;
}

#A_firstentry #right_side img{
    left: 743px;
    top: 615px;
}

/* A_link */

#A_link #garden img{
    left: 410px;
    top: 420px;
}

#A_link #A_site img{
    left: 960px;
    top: 420px;
}

#A_link #catwalk img{
    left: 830px;
    top: 650px;
}

/* A_lobby */

#A_lobby #A_long img{
    left: 700px;
    top: 450px;
}

#A_lobby #A_firstentry img{
    left: 830px;
    top: 650px;
}

/* A_long */

#A_long #A_site img{
    left: 720px;
    top: 450px;
}

#A_long #A_lobby img{
    left: 730px;
    top: 650px;
}

/* A_site */

#A_site #A_long img{
    left: 1300px;
    top: 600px;
}

#A_site #A_link img{
    left: 350px;
    top: 600px;
}

#A_site #heaven img{
    left: 550px;
    top: 250px;
}

/* B_link */

#B_link #mid img{
    left: 800px;
    top: 550px;
}

#B_link #B_lobby img{
    left: 470px;
    top: 650px;
}

/* B_lobby */

#B_lobby #B_link img{
    left: 930px;
    top: 430px;
}

#B_lobby #tunnels img{
    left: 290px;
    top: 460px;
}

#B_lobby #left_side img{
    left: 1400px;
    top: 550px;
}

/* B_site */

#B_site #tunnels img{
    left: 550px;
    top: 620px;
}

#B_site #market img{
    left: 1100px;
    top: 290px;
}

/* bottom_mid */

#bottom_mid #market img{
    left: 590px;
    top: 440px;
}

#bottom_mid #pizza img{
    left: 900px;
    top: 440px;
}

#bottom_mid #mid img{
    left: 750px;
    top: 640px;
}

/* catwalk */

#catwalk #A_link img{
    left: 800px;
    top: 440px;
}

#catwalk #top_mid img{
    left: 730px;
    top: 650px;
}

/* garden */

#garden #heaven img{
    left: 732px;
    top: 410px;
}

#garden #A_link img{
    left: 890px;
    top: 670px;
}

/* heaven */

#heaven #A_site img{
    left: 730px;
    top: 450px;
}

#heaven #garden img{
    left: 750px;
    top: 670px;
}

/* left_side */

#left_side #B_lobby img{
    left: 750px;
    top: 500px;
}

#left_side #spawn img{
    left: 750px;
    top: 670px;
}

/* market */

#market #B_site img{
    left: 800px;
    top: 470px;
}

#market #bottom_mid img{
    left: 750px;
    top: 670px;
}

/* mid */

#mid #bottom_mid img{
    left: 900px;
    top: 470px;
}

#mid #B_link img{
    left: 130px;
    top: 550px;
}

/* pizza */

#pizza #bottom_mid img{
    left: 750px;
    top: 670px;
}

/* right_side */

#right_side #spawn img{
    left: 750px;
    top: 670px;
}

#right_side #A_firstentry img{
    left: 760px;
    top: 450px;
}

/* top_mid */

#top_mid #mid img{
    left: 700px;
    top: 490px;
}

#top_mid #A_firstentry img{
    left: 1300px;
    top: 600px;
}

#top_mid #catwalk img{
    left: 960px;
    top: 430px;
}

/* tunnels */

#tunnels #B_lobby img{
    left: 800px;
    top: 630px;
}

#tunnels #B_site img{
    left: 760px;
    top: 430px;
}
