.icons{
    cursor: pointer;
    position: absolute;
    width:42px;
    height:42px;
    border-radius: 30px;
    visibility: hidden;
}

.icons:hover{
    transform : scale(1.3);
}

.icons+.descri{
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 10px; 
    visibility:hidden;
}

.icons:hover + .descri{
    visibility:visible;
}