#objBox {
    position: fixed;
    top:20%;
    max-width: 21.4062%;
    background-color: rgba(199, 199, 199, 0.851);
    border-radius: 25px;
    border: 3px solid rgb(199, 199, 199);
    width: 13.5%;
    font-weight: normal;
    line-height: 30px;
    padding: 13px 16px;
    position: absolute;
    text-align: left;
    z-index: 20;
    overflow-wrap: break-word;
}

#objList {
    list-style: square;
    display: none;
}

#objBox h3 {
    position: relative;
    left: 0%;
}