/* main.html */

#main h1{
    font-size: 125px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(99, 99, 99) 1px 0 7px;
    display: flex;
    justify-content: center;
}

#entry{
    display: block;
    position: absolute;
    right: 42%;
    padding: 10px 20px;
    font-size: 17px;
    border: thick double white;
    background-color: rgb(243, 78, 78);
    border-radius: 10px; 
}

#entry:hover{
    background-color: rgb(24, 22, 22);
}

#explain{
    position: fixed;
    left: -1%;
    width: 101%;
    bottom: 15px;
    background-color: rgba(199, 199, 199, 0.418);
    border: 4px solid #803d35;
}

#explain p, h3{
    position: relative;
    left: 5%;
    padding-bottom: 0.5%;
}

#quote{
    position: absolute;
    right: 0%;
    bottom: 124px;
    color: rgba(146, 146, 146, 0.781);
}