@font-face{
    font-family : "Quantico-Regular";
    src : url("fonts/Quantico-Regular.ttf") format('truetype');
}

@font-face{
    font-family : "Game Of Squids";
    src : url("fonts/Game Of Squids.ttf") format('truetype');
}

@font-face{
    font-family : "Roboto";
    src : url("fonts/Roboto-Regular.ttf") format('truetype');
}

body{
    font-family : "Game Of Squids";
}

#explain{
    font-family : "Quantico-Regular";
}

.descri{
    font-family : "Roboto";
}

#quote{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.btn, #bubble {
    font-family: "Arvo",serif;
    color: #333;
    font-size: 20px;
}

#objBox ol{
    font-family : "Roboto";
}