#musicIcons {
    cursor: pointer;
    position: relative;
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 3.5vw;
    width: 3.5vw;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #525252;
    box-shadow: inset 1px 0px 10px black;
}

#sideMusic {
    display: block;
    position: absolute;
    top: 20%;
    right: -4.7%;
}

#musicOn{
    position: absolute;
    width: 2.1vw;
    height: 2.1vw;
    left: 20%;
    top: 20%;
    visibility: hidden;
}

#musicOff{
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: 9%;
    top: 9%;
}