#objBox {
    position: fixed;
    top:0%;
    /*max-width: 21.4062%;*/
    background-color: rgba(199, 199, 199, 0.851);
    border: 3px solid rgb(199, 199, 199);
    width: 10vw;
    right: 100%;
    font-weight: normal;
    padding: 15% 20%;
    position: absolute;
    text-align: left;
    z-index: 20;
    overflow-wrap: break-word;
    visibility: hidden;
}

#objList {
    list-style: square;
    display: none;
    font-size: 1.1vw;
}

#objBox h3 {
    position: relative;
    left: 0%;
    font-size: 1.2vw;
}

#logo{
    position: absolute;
    width: 2.1vw;
    height: 2.1vw;
    left: 20%;
    top: 20%;
}

#objIcon{
    cursor: pointer;
    position: relative;
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 3.5vw;
    width: 3.5vw;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #525252;
    box-shadow: inset 1px 0px 10px black;
}

#objIcon:hover + #objBox{
    visibility: visible;
}

#objectives{
    display: block;
    position: absolute;
    top: 0px;
    right: -4.7%;
}