.place{
    position: relative;
    border: none;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 3.5vw;
    height: 23.2vw;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #525252;
    box-shadow: inset 1px 0px 10px black;
}

#sideInfo{
    display: block;
    position: absolute;
    top: 45%;
    right: -4.7%;
}

.place span{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1.2vw;
    letter-spacing: .9rem;
    color: whitesmoke;
    position: relative;
    top: 5%;
}
